.cards__container {
  display: flex;
  flex-direction: row;
}

.medium-cards {
  display: flex;
  flex-direction: row;
}

.text-cards {
  margin-top: 10px;
  flex-direction: column;
  gap: 5px;
  display: flex;
}

.small-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
